.container {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/HeroImage.jpg");
  /* Set a specific height */
  /* min-width: 100%; */
  height: 100vh;
  /* max-width: 100%; */
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
